<div class="card-columns m-5 animated fadeIn pagination">
    <div *ngFor="let item of Artistas | paginate: {itemsPerPage: 3, currentPage: page }" class="card">
      <img class="card-img-top" [src]="item.images[0].url" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">
          <span style="font-size: 10px" class="badge badge-pill badge-warning" *ngFor="let art of item.artists">
            {{art.name}}
          </span>
        </p>
      </div>
    </div>
</div>

<pagination-controls class="pagination-color" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>